<ion-view view-title="Employees">
  <div class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input id="searchKey" type="search" placeholder="Search" ng-model="searchKey" ng-change="search()" ng-focus="scrollTop()" autocorrect="off" />
    </label>

    <button class="button button-clear" ng-if="searchKey.length" ng-click="clearSearch()">
      <i class="ion-backspace-outline" ng-if="searchKey.length" ng-click="clearSearch()"></i>
    </button>
  </div>

  <ion-content class="has-header has-subheader">
    <ion-item class="item-avatar item-icon-right" ng-repeat="employee in employees" href="#/tab/employees/{{employee.id}}">
      <img ng-src="{{employee.pic}}"/>
      {{employee.name}}
      <p>{{employee.location}}</p>
    </ion-item>

    <ion-infinite-scroll ng-if="isMore()" on-infinite="loadMore()" icon="ion-load-c" distance="2%"></ion-infinite-scroll>
  </ion-content>
</ion-view>

