<ion-view view-title="Status">
  <ion-content>
    <ion-refresher on-refresh="checkStatus()"></ion-refresher>

    <div class="card text-center">
      <div class="item item-divider" ng-class="{ 'balanced': connected, 'assertive': !connected }">
        <span>{{ connected ? 'All systems go!' : 'ERROR' }}</span>
      </div>
      <div class="item item-text-wrap" ng-class="{ 'balanced': connected, 'assertive': !connected }">
        <i class="icon icon-big" ng-class="{ 'ion-ios-checkmark-outline': connected, 'ion-ios-minus-outline': !connected }"></i>

        {{ connected ? '' : error_message }}
      </div>
      <div class="item item-text-wrap">
        <a class="dark" href="{{server}}">API: {{server}}</a>
      </div>
    </div>
  </ion-content>
</ion-view>


