<ion-view view-title="Status">
  <ion-content>
    <ion-refresher on-refresh="checkStatus()"></ion-refresher>
    <div class="card text-center">
      <div class="item item-divider" ng-class="{ 'balanced': connected, 'assertive': !connected }">
        <span>{{ connected ? 'All systems go!' : 'ERROR' }}</span>
      </div>
      <div class="item item-text-wrap" ng-class="{ 'balanced': connected, 'assertive': !connected }">
        <i class="icon icon-big" ng-class="{ 'ion-android-checkmark-circle': connected, 'ion-ios-minus-outline': !connected }"></i>

        {{ connected ? '' : error_message }}
      </div>

      <div class="item item-text-wrap" ng-if="connected">
        <a class="dark" href="{{server}}">API: {{server}}</a>
      </div>

      <div class="list list-inset">
        <label class="item item-input item-label" ng-class="{ 'has-error': error }">
          <span class="input-label">API server URL</span>
          <input type="text" placeholder="http://example.com" ng-model="$parent.server_url">
        </label>
        <div class="form-error" ng-if="error">{{ error.message }}</div>
        <div class="padding">
          <button class="button button-block button-dark" ng-click="validate()">Validate and Save</button>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>


