<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-balanced">
  <ion-tab title="Status" hidden={{connected}} icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/status">
    <ion-nav-view name="tab-status"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Employees" icon="ion-ios-people" on-select="scrollTop()" href="#/tab/employees">
    <ion-nav-view name="tab-employees"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Newcomers" icon="ion-person-stalker" href="#/tab/newcomers">
    <ion-nav-view name="tab-newcomers"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Apprentices" icon="ion-person-stalker" href="#/tab/apprentices">
    <ion-nav-view name="tab-apprentices"></ion-nav-view>
  </ion-tab>
</ion-tabs>


